#shopping-cart {
  width: 100%;
  /* border: 1px solid black; */
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 200px;
  /* border: 1px solid black; */
}

#item-details {
    margin-left: 20px;
    /* border: 1px solid black; */
}

/* \\\\\addtocart Section///// */

.addtocart {
  display: flex;
  color: black;
  /* border: 1px solid black; */
}

.addtocart-btn {
  background-color: #4caf50;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.qty-wrap {
    margin-left: 10px;
}

.qty-add, .qty-reduce {
    cursor: pointer;
    background-color: #4caf50;
    border-radius: 50%;
    border: none;
    margin: 0 10px 0 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
